@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 bg-dark min-vh-100 p-3 text-white">
            <h5 class="text-center mb-4 border-bottom pb-2">
                📅 Розклад АПІ
            </h5>

            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white"
                             href=""
                             Match="NavLinkMatch.All">
                        🏠 Головна
                    </NavLink>
                </li>

                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white"
                             href="schedule">
                        📅 Розклад занять
                    </NavLink>
                </li>

                <li class="nav-item mt-3 mb-1 text-uppercase small text-secondary">
                    Довідники
                </li>

                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white"
                             href="semesters">
                        📆 Семестри
                    </NavLink>
                </li>

                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white"
                             href="classrooms">
                        🏫 Аудиторії
                    </NavLink>
                </li>

                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white"
                             href="groups">
                        🎒 Групи
                    </NavLink>
                </li>

                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white"
                             href="specialties">
                        🎓 Спеціальності
                    </NavLink>
                </li>

                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white"
                             href="group-specialties">
                        🔗 Групи та спеціальності
                    </NavLink>
                </li>

                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white"
                             href="disciplines">
                        📚 Дисципліни
                    </NavLink>
                </li>

                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white"
                             href="teachers">
                        👨‍🏫 Викладачі
                    </NavLink>
                </li>

                <li class="nav-item mt-3 mb-1 text-uppercase small text-secondary">
                    Навчальне навантаження
                </li>

                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white"
                             href="group-disciplines">
                        📖 Навчальні плани груп
                    </NavLink>
                </li>

                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white"
                             href="teacher-semester-loads">
                        📊 Навантаження викладачів
                    </NavLink>
                </li>

                <li class="nav-item mb-2">
                    <NavLink class="nav-link text-white"
                             href="teacher-discipline-loads">
                        📚 Навантаження за дисциплінами
                    </NavLink>
                </li>
            </ul>
        </div>

        <div class="col-md-9 col-lg-10 p-4 bg-light min-vh-100">
            @Body
        </div>
    </div>
</div>

<style>
    .nav-link.active {
        background-color: #0d6efd !important;
        color: white !important;
    }

    .nav-link:hover:not(.active) {
        background-color: #343a40;
    }
</style>